.thumbnail{
    border: 0em !important;
    border-radius: 0em !important;
    padding:0em !important;
}
.tmb{
    margin:0em !important;
   padding: 0em !important;
}
.row{
    height: 100% !important;
}