
.tmbpic11{
    background-color: #e0e0e0!important;
    border-color: #e0e0e0 !important;
    border-radius:0em !important; 
    width: 10em;
    height: 13em;

}
.btnnextm{
    width: 10em;
    height: 2.5em;
    background-color: #a01b1c;
    color:#fff;
}
.logot{
    width: 4%;
    height: 4%;
}
.mdr{
    color: #771718;
}