@font-face {
    font-family: proxima; /* font name */
    src: url(../fonts/proximanovaregular.ttf); /* source */
} 
/* style */
body{
    background-color: #eeeeee;
    font-family: proxima;
} 
.navbar{
   
    background-color:#eeeeee;
    border-radius:0em !important; 
    border:0em;

}
.navcontain{
    height: 50px;
}
.nav li{
    color: #000000 !important;
    text-decoration: none;
    font-size: 1.5em;
    text-align: center;
    border: none;
    background-color: #eeeeee; 
  
	
}
.liactive{
    background-color: #a01b1c !important;  
    color: #eeeeee !important;
    padding-left: 3em !important;
    padding-right: 3em !important;
}
.linonactive{
    color:#000000 !important;
    padding-left: 3em !important;
    padding-right: 3em !important;
}
.limenu{
    padding-left: 0em;
    padding-right: 0em;
}

.l12{
    background-color:   #eeeeee !important;
}

 .nav li:hover{
    color: #ffffff !important;
    background: #a01b1c !important;
    -moz-transition: all 0.2s 0.02s ease;
	-o-transition: all 0.2s 0.02s ease;
 	-webkit-transition: all 0.2s 0.02s ease;
}
.txth3{
    display: inline;
}

header{
    background-color: #000000;
}
header span{
    margin-top: 1em;
    margin-bottom: 1em;
}
.soc1{
    background: url(../img/vk1.png);
    display: block;
    width: 3.48em;
    height: 3.4em;
    position: center;
    z-index: 0;
}
.soc2{
    background: url(../img/inst.png);
    display: block;
    width: 3.4em;
    height: 3.4em;
    z-index: 0;
}
.t1{
    margin-top: 0em;
    text-align: center;
    padding: 0em;
}
.t2{
    margin-top: 0em;
    text-align: center;
    font-weight: 100; 
}
.zagzag{
    padding: 0em !important;
}
.sp1{
    float: right;
    text-align: center;
    font-size: 1.7em;
    padding-top: 0.9em;
    color: #eeeeee;

}
.btnblock{
    font-size: 1.3em;
background-color:#eeeeee;
float: right;
}

.btnb{
    padding-left: 0.5em;
    padding-top: 1.3em;
}
.navbar-toggle{
    color: #fff !important;
    background-color: #000000 !important;
    border-color: #eeeeee !important;

}
.navbar-header{
    color: #eeeeee;
    background-color: #000000;
}
.navbar{
    margin-bottom:0em !important; 
}

.icon-bar{
    color: #eeeeee;
}
.p1{
    background-image: url(../img/p1.png);
}
.pdescr1{
    margin-left: 0em !important;

}
.pdescr{
    margin-top:1em; 
    margin-left: 0.7em;
    font-weight: bold;
}
.radiocheckfoto1{
    font-size: 1.2em !important;
    background-color: #eeeeee;
    border-color:#dddddd;
    color: #000000;
    width: 12.6em;
    height: 2.2em;

    
}
.radiocheckfoto2{
    font-size: 1.2em !important;
    background-color: #eeeeee;
    border-color:#eeeeee;
    color: #000000;
    width: 12.6em;
    height: 2.2em;

    
}
.radiocheckfoto{
    text-align: center !important;
}
.btnfs{
    margin-left: 0.7em !important;
}
.active{
    
        background-color: #771718 !important;
        border-color:#771718 !important;
        color:#eeeeee !important ;
        
}

.descrpacket1,.descrpacket2,.descrpacket3,.descrpacket4,.checkdescr1{
    margin-left: 1em !important;
    margin-top: 1em !important;
    margin-bottom:1em !important;
}
.fotoset11 p{
    margin-left: 0.7em;
    margin-top: 1em;
    margin-bottom:1em ;
}
.checksum{
    float: left;

}
.checksum1,.checksum2,.checksum3,.checksum4,.checksum5,.checksum6{
    color: #a01b1c;
    float: left;
    margin-left: 1em;
}
.btnnext{
    width: 10em;
    height: 2.5em;
    background-color: #a01b1c;
    color:#fff;
}

.checksumop{
    float: left !important;
}
.dpnn{
    display: none;
}
.psp1{
    text-align: center;
  
    font-size: 1.2em;
}
.navbrand2{
    background-color: #eeeeee;
    color: #000 !important;
    padding: 0em;
    padding-top:0.3em; 
}
#span1{
    color: #a01b1c;
}
/* hover effects */
tel:hover{
    color:#a01b1c;
}
.btnblock:hover{
    background-color:#a01b1c;
    border-color: #a01b1c;
    color: #eeeeee;
}
.soc2:hover{
    background: url(../img/inst2.png);
    z-index: 1;
}
.soc1:hover{
    background: url(../img/vk2.png);
    z-index: 1;
}
.linonactive:hover{
    color:#eeeeee !important;
 
}
.liactive:hover{
    background-color:   #eeeeee !important;
    color:#000000 !important;

}
.radiocheckfoto1:hover{
    background-color: #a01b1c !important;
    border-color:#a01b1c !important;
    color:#eeeeee !important ;
    
}
.radiocheckfoto2:hover{
    background-color: #a01b1c !important;
    border-color:#a01b1c !important;
    color:#eeeeee !important ;
    
}
.btnnext:hover{
    background-color:#eeeeee;
    border-color: #000;
    color: #000;
}
.navbrand2:hover{
    background-color: #eeeeee !important;
    
}
